header {
    position: relative;
    background-color: #F4A261;
    margin: 0px;
}

#logo {
    margin: 0px;
    
}

# navbar {
    margin: 0px;
}

#logo h1 {
    font-family: 'Poppins', sans-serif;
}


body {
    background-image: linear-gradient(to bottom right, #264653, #2a9d8f);
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
}
