html {
  height: 100%;
  margin: 0; 
  padding: 0;
}

header {
    background-color: #F4A261;
    height: 5%;
    margin: 0;
}

body {
    min-height: 100%;
    margin: 0; 
    padding: 0;
    background-image: linear-gradient(to bottom right, #264653, #2a9d8f);
    background-repeat: no-repeat;
}

footer {
    height: 5%;
    margin: 0;
    background-color: #F4A261;
}
